/* Style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
h1{
    color: rgb(4, 0, 255);
}
header {
    background-color: #00aeff;
    color: #fff;
    padding: 1em;
    text-align: center;
}
.padre2{
    justify-content: center;
    

    align-items: center;
}
.divIMG{

    justify-content: center;
   
    display: flex;
    align-items: center;
}
.div2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.img1{

    border-radius: 100px;
    align-items: center;
    width: 45%;

}
.main2{
    align-items: center;
    background-color: rgb(237 246 251);
}
main{
    padding: 2em;
}
h2{
    font-size: 60px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
